<h1><%=  @restaurant.name%></h1>
<p><td><%= @restaurant.phone_number %></td></p>
<p><td><%= @restaurant.address %></td></p>
<p><td><%= @restaurant.category %></td></p>

<%= link_to 'back', restaurants_path %>
